In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salary.csv')

In [7]:
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,5000,75000.0,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,80000.0,NaN,82000.0,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,120000,100000.0,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,54000.0,NaN,NaN,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,NaN,62000.0,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",70000.0,72000,70000.0,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,18/01/2021 17:46:02,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,NaN,60000.0,3000,48000.0,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,18/01/2021 23:20:35,39.0,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",110000.0,0,90000.0,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,19/01/2021 10:17:58,26.0,Male,SaarbrÃ¼cken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",38350.0,40950,33800.0,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",65000.0,6500,40000.0,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [4]:
df.shape

(1253, 23)

In [5]:
df.info

<bound method DataFrame.info of                 Timestamp   Age Gender         City  \
0     24/11/2020 11:14:15  26.0   Male       Munich
1     24/11/2020 11:14:16  26.0   Male       Berlin
2     24/11/2020 11:14:21  29.0   Male       Berlin
3     24/11/2020 11:15:24  28.0   Male       Berlin
4     24/11/2020 11:15:46  37.0   Male       Berlin
...                   ...   ...    ...          ...
1248  18/01/2021 15:05:50  31.0   Male       Berlin
1249  18/01/2021 17:46:02  33.0   Male       Berlin
1250  18/01/2021 23:20:35  39.0   Male       Munich
1251  19/01/2021 10:17:58  26.0   Male  SaarbrÃ¼cken
1252  19/01/2021 12:01:11  26.0   Male       Berlin

                                   Position  Total years of experience  \
0                          Software Engineer                         5
1                          Backend Developer                         7
2                          Software Engineer                        12
3                         Frontend Developer                         4
4                          Backend Developer                        17
...                                      ...                       ...
1248                       Backend Developer                         9
1249  Researcher/ Consumer Insights Analyst                         10
1250                   IT Operations Manager                        15
1251                      Frontend Developer                         7
1252                                  DevOps                         2

     Years of experience in Germany Seniority level  \
0                                 3          Senior
1                                 4          Senior
2                                 6            Lead
3                                 1          Junior
4                                 6          Senior
...                             ...             ...
1248                              5          Senior
1249                            1.5          Senior
1250                              2            Lead
1251                              7          Middle
1252                              2          Middle

     Your main technology / programming language  \
0                                     TypeScript
1                                           Ruby
2                        Javascript / Typescript
3                                     Javascript
4                                        C# .NET
...                                          ...
1248                                        Java
1249                           consumer analysis
1250                                         PHP
1251                                  JavaScript
1252                                        yaml

     Other technologies/programming languages you use often  ...  \
0                       Kotlin, Javascript / Typescript      ...
1                                                   NaN      ...
2                       Javascript / Typescript, Docker      ...
3                                                   NaN      ...
4                                .NET, SQL, AWS, Docker      ...
...                                                 ...      ...
1248  Python, Javascript / Typescript, Java / Scala,...      ...
1249                                                NaN      ...
1250  Python, C/C++, Javascript / Typescript, Java /...      ...
1251  Javascript / Typescript, Docker, HTML, CSS; Ad...      ...
1252  Python, AWS, Kubernetes, Docker, terraform, an...      ...

      Annual bonus+stocks one year ago. Only answer if staying in same country  \
0                                                 10000
1                                                  5000
2                                                100000
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                              72000
1249                                               2500
1250                                                NaN
1251                                              36400
1252                                                  0

     Number of vacation days           Employment status   Ð¡ontract duration  \
0                         30          Full-time employee  Unlimited contract
1                         28          Full-time employee  Unlimited contract
2                         30  Self-employed (freelancer)  Temporary contract
3                         24          Full-time employee  Unlimited contract
4                         29          Full-time employee  Unlimited contract
...                      ...                         ...                 ...
1248                      26          Full-time employee  Unlimited contract
1249              unlimited           Full-time employee  Unlimited contract
1250                      28          Full-time employee  Unlimited contract
1251                      27          Full-time employee  Unlimited contract
1252                      30          Full-time employee  Unlimited contract

     Main language at work Company size Company type  \
0                  English       51-100      Product
1                  English     101-1000      Product
2                  English     101-1000      Product
3                  English       51-100      Startup
4                  English     101-1000      Product
...                    ...          ...          ...
1248               English       51-100      Product
1249               English        1000+      Product
1250               English     101-1000    eCommerce
1251                German     101-1000      Product
1252               English       51-100      Startup

     Have you lost your job due to the coronavirus outbreak?  \
0                                                    No
1                                                    No
2                                                   Yes
3                                                    No
4                                                    No
...                                                 ...
1248                                                Yes
1249                                                 No
1250                                                 No
1251                                                 No
1252                                                 No

     Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                NaN
1250                                                NaN
1251                                                NaN
1252                                               30.0

     Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                  0
1250                                                NaN
1251                                                  0
1252                                                600

[1253 rows x 23 columns]>

In [15]:
pd.set_option('display.max_columns',23)

In [ ]:
pd.set_option('display.max_rows',23)

In [19]:
df.head(15)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,5000,75000.0,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,80000.0,NaN,82000.0,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,120000,100000.0,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,54000.0,NaN,NaN,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,NaN,62000.0,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
5,24/11/2020 11:15:53,32.0,Male,Berlin,DevOps,5,1,Senior,"AWS, GCP, Python,K8s","Python, AWS, Google Cloud, Kubernetes, Docker",76000.0,5000,76000.0,5000,30,Full-time employee,Unlimited contract,English,11-50,Startup,No,NaN,NaN
6,24/11/2020 11:16:35,37.0,Male,Berlin,Frontend Developer,6,0.4,Middle,Javascript,NaN,57000.0,NaN,NaN,NaN,24,Full-time employee,Unlimited contract,English,11-50,Product,No,NaN,NaN
7,24/11/2020 11:16:44,24.0,Male,Berlin,Frontend Developer,5,1,Senior,Typescript,Javascript / Typescript,65000.0,NaN,65000.0,NaN,27,Full-time employee,Unlimited contract,English,1000+,Product,No,0.0,600
8,24/11/2020 11:17:24,29.0,Male,Berlin,Backend Developer,8,2,Senior,PHP,"SQL, AWS, Docker",56000.0,NaN,55000.0,NaN,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,30.0,NaN
9,24/11/2020 11:17:50,35.0,Male,Berlin,Software Engineer,15,3,Lead,Java,NaN,95000.0,NaN,90000.0,NaN,30,Full-time employee,Unlimited contract,English,101-1000,Product,No,0.0,NaN
10,24/11/2020 11:18:06,32.0,Female,Hamburg,Data Engineer,2,2,Junior,Aws Hadoop Postgre Typescript,"Python, Kotlin, Javascript / Typescript, SQL, AWS",52500.0,NaN,52500.0,NaN,30,Full-time employee,Unlimited contract,German,101-1000,Consulting / Agency,No,NaN,NaN
11,24/11/2020 11:18:16,NaN,Male,Berlin,Software Engineer,25,11,Senior,C++,"Python, C/C++, SQL",100000.0,101,80000.0,13000,24,Self-employed (freelancer),Temporary contract,English,11-50,Product,Yes,NaN,NaN
12,24/11/2020 11:18:22,NaN,NaN,Berlin,Software Engineer,NaN,NaN,Lead,PHP,NaN,90000.0,40000,NaN,NaN,NaN,Full-time employee,Unlimited contract,English,1000+,NaN,No,NaN,1000
13,24/11/2020 11:18:26,34.0,Male,Berlin,Software Engineer,14,5,Senior,Typescript,"PHP, Javascript / Typescript, AWS",70000.0,NaN,NaN,NaN,28,Full-time employee,Unlimited contract,English,11-50,Startup,No,0.0,NaN
14,24/11/2020 11:18:40,28.0,Male,Berlin,Designer (UI/UX),11,2,Senior,NaN,NaN,75000.0,9400,66000.0,NaN,30,Full-time employee,Unlimited contract,English,1000+,Product,Yes,NaN,NaN

In [ ]:
df.tail(5)